.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
  color: #ffffff;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button: hover,
button: focus {
background-color: #404BBF;
}

body {
   font-family:  'Roboto' sans-serif
   color: var(--NAVY-BLUE, #434455);
   background-color: #FFFFFF;
  }
/*=========NAVIGATION========*/
.logo-span {
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
.logo {
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.menu-link:hover,
.menu-link:focus {color: #404BBF;
}
.contact-link:hover,
.contact-link:focus {color: #404BBF;
}
/*=========/NAVIGATION========*/
/*=========HERO========*/
.slogan {
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1,07; 
letter-spacing: 0,02em;
  color: var(--WHITE, #FFFfff);
}

/*=========/HERO========*/

/*========SECTION BENEFITS========*/
.benefits-list {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.2em;
color: #2E2F42;
}
.description-benefits-list {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*========/SECTION BENEFITS========*/


/*========SECTION OUR TEAM========*/
.conpany-list: {
  background-color: #F4F4FD;
}
.conpany-team: {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height:  1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.menu-team {background-color: #FFFFFF;}
.member-team {
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2
letter-spacing: 0.02em;
color: #2E2F42;
}
.member-team {
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2
letter-spacing: 0.02em;
color: #2E2F42;
}
.profession-member-team {
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*========Our Portfolio========*/
.portfolio-list {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.menu-portfolio-list {
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.application-description {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455);
}
/*========/Our Portfolio========*/

/*========footer========*/

.footer-content {
  background-color: #2e2f42;
}
.footer-content-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.logo-footer {
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
/*========/footer========*/